@use "./styles/variables" as *;

.App {
  min-height: 100vh;
  max-width: rem(1400);
  width: 80%;
  margin-inline: auto;
  margin-top: auto;
  display: grid;
  padding-block: 9rem;

  .section {
    display: grid;
    gap: 1rem;
    margin-block: auto;

    @include breakpoint(large) {
      grid-template-columns: 1fr 3fr;
      height: 33rem;
    }

    // &__profile {
    // }

    &__card {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
      gap: 1rem;

      @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
